**/*.db
**/*.ipynb
**/*.pyc
**/*.swp
**/.DS_Store
**/.web
**/node_modules/**
**/package-lock.json
**/package.json
*.db
*.py[cod]
.venv/
.vscode
.web
__pycache__/
backend.zip
bun.lockb
dist/*
frontend.zip
poetry.lock
uploaded_files/
venv/